body {
    background-color: #6C6C7D;
    width: 90%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 90px 90px;
    /* width: 100%; */
    
}

.top-box {
    background-color: #54545D;
    width: 1400px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-left: -700px;
    margin-top: -350px;
    position: absolute;
    border-radius:50px;
}

.bottom-box {
    background-color: #3F4044;
    margin-top: 10%;
    height: 35%;
    width: auto;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-style: solid;
    border-top-width: 2px;
}

.circle {
    border-radius: 50%;
    background-color: #3F4044;
    margin-right: 30%;
    margin-left: 40%;
    height: 300px;
    width: 300px;
    margin-top: 8%;
    padding-top: 0%;
}

.profileimage {
    width: 300px;
    height: 300px;
}

.name {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    margin-bottom: 0px;
    padding-top: 1%;
    text-align: center;
    font-size: 250%;
    color: #6C6C7D;
}

.row {
    padding-left: 0px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 25px;
    margin-bottom: 0px;
    padding-top: 0%;
    text-align: center;
}

h6 {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 1%;
    margin-bottom: 0px;
    padding-top: 1%;
    text-align: center;
    font-size: 100%;
    color: #FFF;
    text-decoration: underline;
}

div > a {
    margin-left: 10px;
    margin-right: 10px;
}

a > svg:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
    transform: translateY(0) scale(1.35);
}




/* ACTIONS */

